.showPost {
  padding-bottom: 40px;

  .titleShow {
    font-size: 2.75rem;
    line-height: 3rem;
    letter-spacing: 0;

    margin-top: 20px;
  }

  .imgShow {
    width: 100%;
    margin-bottom: 40px;
  }
  .contentShow {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    word-break: break-word;

    font-size: 1.25rem;
    line-height: 160%;
  }

  .dateShow {
    width: 100%;
    color: grey;
    text-align: right;
  }

  .commentsOfPost {
    margin-top: 30px;
    padding: 20px;

    border: solid 1px black;
    border-radius: 10px;

    .commentsTitle{
        color: darkblue;
        font-size: 1.5rem;
    }

    .notComments{
        color: darkred;
        text-align: center;
        font-size: 1.5rem;
    }

    .commentMessage {
        font-size: 1.5rem;
        border-bottom: solid 1px grey;

    }
  }
}
