.news-card {
  margin-bottom: 40px;
  background-color: white;

  border: none;
  box-shadow: none;

  &:hover {
    cursor: pointer;
  }

  .imgBox:hover {
    filter: brightness(1.15);
  }

  mat-card-content {
    padding: 0;

    mat-card-title {
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: rgb(90, 90, 90);
    }

    mat-card-subtitle {
      text-align: right;
      padding-top: 5px;
      color: rgb(180, 180, 180);
    }
  }
}
