body {
  height: 100vh;
  margin: 0;
  background-color: white;
  padding-top: 80px;
  min-width: 350px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
